
.ts-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #3F3F46;
  padding: 15px 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-sizing: border-box;
  color: white;
}

.ts-title {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}


.ts-search {
  width: 270px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}


.ts-container {
  margin-top: 95px; 
  padding: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}


.ts-list {
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.ts-card {
  padding: 20px;
  background: #fafafa;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  transition: 0.25s ease;
}

.ts-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.ts-card h3 {
  margin: 0;
  font-size: 18px;
}

.ts-card span {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}

.ts-no-data {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 30px;
  color: white;
}


@media (max-width: 700px) {
  .ts-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 18px;
  }

  .ts-search {
    width: 100%;
  }

  .ts-title {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .ts-title {
    font-size: 18px;
  }

  .ts-search {
    font-size: 14px;
  }
}
